
a{
	transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
}

#header {
    background:#f5f6f7;
	padding:10px 0px;
}
	 

#header .header-logo  img{
     padding:0px;
	 width:150px;
	 }
#header .account li{
    list-style-type: none;
	float:left;
	margin-top:15px;
    }
	 
#header .account  li a{
    color:#777777;
	text-decoration:none !important;
}
	
.sign { 
    margin-left:20px;
	background:transparent;
	color:#ec155a !important;
	border:2px solid #ec155a;
	border-radius:3px;
	padding:10px 20px;
    text-align:center;
}
	
.sign:hover {
    background-color:#ec155a;
    color:#ffffff !important;
}
	
.center { 
    display: table;
    margin: 130px auto;
	background-color:#ffffff;
	margin-bottom:155px;
	padding:31px 37px;
	border-radius: 5px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
   
.center p {
   text-align:center;
   font-size: 32px;
   font-weight: 300;
   line-height: 24px;
   color: #777777;
   font-family: 'Open Sans',sans-serif;
   font-weight:600;
    }


.form {
     margin-top:50px;
	 }
	 
.form  p{
     float:left;
	 margin-top: 9px;
	 font-size: 22px;
	 font-family: 'Open Sans',sans-serif;
     font-weight: normal;
	 margin-right:10px;
	 color: #777777;
	font-weight:600;
}
     
.control {
     height:48px;
	 width:160px;
	 background:#3260c7;
	 color:#ffffff;
	 margin-top:0px;
	 margin-right:15px;
	 padding-left:15px;
	 }
	 
#header select {
     height:48px;
	 width:160px;
	 background:#ffffff;
	 color:#777777;
	 margin-top:0px;
	 margin-right:15px;
	 padding-left:15px;
	 appearance:none;
	 -moz-appearance:none;
	 -webkit-appearance:none;
	 border:1px solid #777777;
	 border-radius:3px;
	 font-size:18px;
	 cursor:pointer;
	background:url(../images/caret.png) no-repeat 90% center / 15px;
	-moz-background-size:15px;
	-webkit-background-size:15px;
}
	 
.continue {
    float:right;
	margin-top:0px;
	line-height: 1.3;
	background:#ec155a;
	color:#ffffff;
	border-radius:2px;
	padding:10px 15px;
	text-align:center;
	height:48px;
	width:160px;
	font-weight: normal;
	font-size:18px;
	text-decoration: none !important;
	border:2px solid #ec155a;
	border-radius:3px;
}
	
.continue:hover {
    background-color:#ffffff;
    color:#ec155a;
}
	 
.more { 
    margin-top:40px;
	}
	
.for p {
    color: #777777;
    font-size: 16px;
    line-height: 22px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	text-decoration:none !important;
	}
	
.for:hover {
    color:#0548a3;
	text-decoration:none !important;
	}
	
.gap { 
     margin-top:80px;
	 display:table;
	 margin-bottom:80px;
	}

	
.gap2 { 
     margin-top:20px;
	 display:table;
	 margin-bottom:80px;
	}
	
.g { 
    padding-right:60px;
	padding-left:60px;
	}
	
.gap p{ 
     margin-top:15px;
  	 font-size:22px;
	 color:#595c5f;
}
	 
.gap2 p{ 
     margin-top:20px;
  	 font-size:22px;
	 color:#595c5f;
	 }
	 
.kk {
    background: #eee;
    padding: 20px;
    border-radius: 100px;
    height: 120px;
    width: 120px;
	transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	cursor:pointer;
}
.kk:hover{
	transform:scale(1.1);
	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1);
}
.footer {
    background:#f5f6f7;
	padding:50px 0px;
}

.foot{
	margin-bottom:40px;
}
	
.foot img {
    width:250px;
	margin:auto;
	display:block;
}
	
.go {
    display: table;
    margin: auto;
	}
	
.end {
    background:#ec155a;
	padding:0px;
}
	
.rr p {
    float:left;
    color:#ffffff;
	margin-top:24px;
	Font-size:12px;
	}
	
.nn li { 
    float:right;
	list-style-type: none;
    color:#ffffff;
	margin-top:8px;
	Font-size:12px;
	display:table;
	padding:12px;
	}
	
.nn  li a{
	color:white;
}

.social{
	display:table;
	margin:auto;
}
	 
.social a {
    background: #ec155a none repeat scroll 0 0;
    border-radius: 100px;
    display: inline-block;
    font-size: 17px;
    height: 32px;
    line-height: 32px;
    margin: 0 1px;
    text-align: center;
    width: 32px;
	color:#ffffff;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	cursor:pointer;
	border:1px solid #ec155a;
}

.social a:hover{
	background:#ffffff;
	color:#ec155a;
}